<h2>Posts</h2>
<app-post-form (updatedPost)="onUpdatedPost($event)"(newPost)="onNewPost($event)" [currentPost]="currentPost" [isEdit]="isEdit"></app-post-form>
<div class="card" *ngFor="let post of posts">
  <div class="card-body">
    <h3>{{post.title}}</h3>
    <p>{{post.body}}</p>
    <button class="btn btn-danger" (click)="removePost(post)"><i class="fas fa-times-circle"></i></button>
    <button class="btn btn-ligth" (click)="editPost(post)"><i class="fas fa-pencil-alt"></i></button>
  </div>
</div>
